<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitwork.back.member.model.repository.MemberRepository">
	<!-- 회원 등록 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO member(id, password, name, nickname, gender, email, phone_number, address, member_role)
		VALUES (#{id}, #{password}, #{name}, #{nickname}, #{gender}, #{email}, #{phoneNumber}, #{address}, #{memberRole})
	</insert>
	
	<!-- 회원 존재하는지 확인 -->
	<select id="isMemberExist">
		SELECT count(*)
		FROM member
		WHERE id = #{id}
	</select>
	
	<!-- 전체 회원 조회 -->
	<select id="selectAllMember" resultType="Member">
		SELECT *
		FROM member
	</select>
	
	<!-- 회원 상세 조회 -->
	<select id="selectMemberById" resultType="Member" parameterType="String">
		SELECT *
		FROM member
		WHERE id = #{id}
	</select>
	
	<!-- 회원 정보 삭제 -->
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member
		WHERE id = #{id}
	</delete>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMemberInfo" parameterType="Member">
		UPDATE member
		SET password = #{password}, nickname = #{nickname}, email = #{email}, address = #{address}
		WHERE id = #{id}
	</update>
</mapper>